<header class="p-2 glass top-0 sticky z-30 w-screen text-white">
  <div class="flex gap-5 justify-between items-center">
    <div class="flex justify-center items-center">
      <div class="square heroTitle">
        <div class="content">
          <h1 class="ml-10 font-extrabold bg-red-500">Azar</h1>
        </div>
      </div>
    </div>
    <nav class="md:flex md:flex-wrap md:gap-2 md:justify-evenly" id="navLinks">
      <a id="homeNav" [@wobbly]="isWobbly" [ngClass]="{ 'active': activeSection === 'home' }" routerLinkActive="active"
        class="cursor-pointer" (click)="toggleSection('home'); toggleWobbly()">
        Home
      </a>
      <a id="aboutNav" [@wobbly]="isWobbly" [ngClass]="{ 'active': activeSection === 'about' }"
        routerLinkActive="active" class="cursor-pointer" (click)="toggleSection('about'); toggleWobbly()">
        About
      </a>
      <a id="educationNav" [@wobbly]="isWobbly" [ngClass]="{ 'active': activeSection === 'education' }"
        routerLinkActive="active" class="cursor-pointer" (click)="toggleSection('education'); toggleWobbly()">
        Education
      </a>
      <a id="projectsNav" [@wobbly]="isWobbly" [ngClass]="{ 'active': activeSection === 'projects' }"
        routerLinkActive="active" class="cursor-pointer" (click)="toggleSection('projects'); toggleWobbly()">
        Projects
      </a>
      <a id="skillsNav" [@wobbly]="isWobbly" [ngClass]="{ 'active': activeSection === 'skills' }"
        routerLinkActive="active" class="cursor-pointer" (click)="toggleSection('skills'); toggleWobbly()">
        Skills
      </a>
      <a id="experienceNav" [@wobbly]="isWobbly" [ngClass]="{ 'active': activeSection === 'experience' }"
        routerLinkActive="active" class="cursor-pointer" (click)="toggleSection('experience'); toggleWobbly()">
        Experience
      </a>
      <a id="contactNav" [@wobbly]="isWobbly" [ngClass]="{ 'active': activeSection === 'contact' }"
        routerLinkActive="active" class="cursor-pointer" (click)="toggleSection('contact'); toggleWobbly();">
        Contact
      </a>
    </nav>
    <div appClickOutside (clickOutside)="clickedOutside()">
      <label class="hamburger">
        <button class="toggle-menu" (click)="toggleMenu()" [ngClass]="{ 'active': isMenuOpened}">
          <svg viewBox="0 0 32 32">
            <path class="line line-top-bottom" d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22"></path>
            <path class="line" d="M7 16 27 16"></path>
          </svg>
        </button>
      </label>
      <nav id="navLink" class="menu-drawer" *ngIf="isMenuOpened">
        <a [@wobbly]="isWobbly" [ngClass]="{ 'active': activeSection === 'home' }" routerLinkActive="active"
          class="cursor-pointer block" (click)="toggleSection('home'); toggleWobbly()">
          Home
        </a>
        <a [@wobbly]="isWobbly" [ngClass]="{ 'active': activeSection === 'about' }" routerLinkActive="active"
          class="cursor-pointer block" (click)="toggleSection('about'); toggleWobbly()">
          About
        </a>
        <a [@wobbly]="isWobbly" [ngClass]="{ 'active': activeSection === 'education' }" routerLinkActive="active"
          class="cursor-pointer block" (click)="toggleSection('education'); toggleWobbly()">
          Education
        </a>
        <a [@wobbly]="isWobbly" [ngClass]="{ 'active': activeSection === 'projects' }" routerLinkActive="active"
          class="cursor-pointer block" (click)="toggleSection('projects'); toggleWobbly()">
          Projects
        </a>
        <a [@wobbly]="isWobbly" [ngClass]="{ 'active': activeSection === 'skills' }" routerLinkActive="active"
          class="cursor-pointer block" (click)="toggleSection('skills'); toggleWobbly()">
          Skills
        </a>
        <a [@wobbly]="isWobbly" [ngClass]="{ 'active': activeSection === 'experience' }" routerLinkActive="active"
          class="cursor-pointer block" (click)="toggleSection('experience'); toggleWobbly()">
          Experience
        </a>
        <a [@wobbly]="isWobbly" [ngClass]="{ 'active': activeSection === 'contact' }" routerLinkActive="active"
          class="cursor-pointer block" (click)="toggleSection('contact'); toggleWobbly();">
          Contact
        </a>
      </nav>
    </div>
  </div>
</header>
