
.glass {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  scroll-padding: -30rem;
}

.square {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square span:nth-child(1) {
  position: absolute;
  top: 1/2;
  left: 1/2;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  border-radius: 32% 58% 69% 43% / 48% 32% 59% 55%;
  transition: 0.5s;
  animation: animate 6s linear infinite;
}
.square span:nth-child(2) {
  position: absolute;
  top: 1/2;
  left: 1/2;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  transition: 0.5s;
  animation: animate 4s linear infinite;
}

.square span:nth-child(3) {
  position: absolute;
  top: 1/2;
  left: 1/2;
  width: 100%;
  height: 100%;
  border: 1px solid rgb(255, 0, 0);
  border-radius: 31% 45% 74% 35% / 38% 56% 51% 87%;
  transition: 0.5s;
  animation: animate2 10s linear infinite;
}

.heroTitle:hover span:nth-child(1) {
  border: none;
  background: #ffefed62;
}

.heroTitle:hover span:nth-child(2) {
  border: none;
  background: #dddddd56;
}

.heroTitle:hover span:nth-child(3) {
  border: none;
  background: #ffffff21;
}

.content {
  position: relative;
  color: #000000;
  text-align: center;
  transition: 0.5s;
  font-size: 40px;
}

.content h1 {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #000000;
  border-radius: 73% 27% 44% 56% / 49% 44% 56% 51%;
}

.content h1:hover {
  background: rgba(0, 0, 0, 0.443);
  color: #ffffff;
}

@keyframes animate {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

@keyframes animate2 {
  0% {
      transform: rotate(360deg);
  }
  100% {
      transform: rotate(0deg);
  }
}

.active:hover {
  border: 1px solid red;
  border-radius: 10px;
}

.active:focus {
  border: 1px solid rgb(0, 21, 255);
  border-radius: 10px;
}

.active {
  background-color: red;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
}


.toggle-menu {
  width: 50px;
  height: 50px;
  display: none;
  position: relative;
  right: 75px;
  float: right;
  z-index: 1000;
}

.toggle-menu i {
  position: absolute;
  display: none;
  height: 3px;
  width: 15px;
  left: 0px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.toggle-menu i:nth-child(1) {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.toggle-menu i:nth-child(2) {
  -webkit-transform: translateX(10px) rotateZ(-45deg);
  transform: translateX(10px) rotateZ(-45deg);
}

/* .toggle-menu i:nth-child(3) {
  top: 32px;
} */

.toggle-menu.active i:nth-child(1) {
  background-color: red;
  /* -webkit-transform: translateX(10px);
  transform: translateX(10px); */
}

/* .toggle-menu.active i:nth-child(2) {
  background: transparent;
} */

.toggle-menu.active i:nth-child(2) {
  -webkit-transform: translateX(-10px);
  transform: translateX(-10px);
}

.menu-drawer {
  right: 20px;
  top: 75px;
  position: absolute;
  transition: right linear .2s;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  scroll-padding: -30rem;
  width: 200px;
}

@media (max-width: 768px) {
  #navLinks {
    display: none;
  }
  .toggle-menu {
    display: block;
  }
  .toggle-menu i{
    display: block;
  }
}
