.glass {
  background: rgba(0, 0, 0, 0.139);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.square {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square span:nth-child(1),
.square span:nth-child(2),
.square span:nth-child(3) {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  transition: 0.5s;
}

.square span:nth-child(1) {
  border-radius: 32% 58% 69% 43% / 48% 32% 59% 55%;
  animation: animate 6s linear infinite;
}

.square span:nth-child(2) {
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  animation: animate 4s linear infinite;
}

.square span:nth-child(3) {
  border: 1px solid rgb(255, 0, 0);
  border-radius: 31% 45% 74% 35% / 38% 56% 51% 87%;
  animation: animate2 10s linear infinite;
}

.heroTitle:hover span:nth-child(1) {
  border: none;
  background: #ffefed62;
}

.heroTitle:hover span:nth-child(2) {
  border: none;
  background: #dddddd56;
}

.heroTitle:hover span:nth-child(3) {
  border: none;
  background: #ffffff21;
}

.content {
  position: relative;
  color: #000000;
  text-align: center;
  transition: 0.5s;
  font-size: 40px;
}

.content h1 {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #000000;
  border-radius: 73% 27% 44% 56% / 49% 44% 56% 51%;
}

.content h1:hover {
  background: rgba(0, 0, 0, 0.443);
  color: #ffffff;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

nav .active {
  background-color: red;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
}

.toggle-menu {
  width: 50px;
  height: 50px;
  position: relative;
  right: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.hamburger {
  display: none;
}


.hamburger button {
  cursor: pointer;
  background: none;
  border: none;
}

.hamburger svg {
  height: 3em;
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: rgb(255, 0, 0);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 11 62;
}

.hamburger button.active svg {
  transform: rotate(-45deg);
}

.hamburger button.active svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

.menu-drawer {
  right: 20px;
  top: 75px;
  position: absolute;
  transition: right linear .2s;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 200px;
  display: none;
  animation: slideInOut 0.5s ease-in-out;

}

@keyframes slideInOut {
  0% {
    transform: translateY(-20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  #navLinks {
    display: none;
  }
  .toggle-menu {
    display: flex;
  }

  .hamburger {
    display: block;
  }
  .menu-drawer {
    display: block;
  }
}
