<section id="home" appObserveVisibility (isIntersecting)="isIntersecting=$event" (isVisible)="isVisible=$event"
  (isCutting)="AboutCutting($event)" class="relative w-screen py-40 mb-60">
  <div class="Iam absolute top-20 left-1/4 z-20 w-2/3">
    <div class="w-72">
      <div class="square heroTitle">
        <span></span>
        <span class="shadow-inner shadow-black"></span>
        <span></span>
        <div class="content">
          <p class="title text-2xl">I am a Software Engineer with experience in </p>
          <p #textElement class="xp text text-red-500"></p>
          <p #blinkElement class="xp blink text blink text-red-500"></p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-40 max-w-screen-lg mx-auto" id="about" appObserveVisibility (isIntersecting)="isIntersecting=$event"
  (isVisible)="isVisible=$event" (isCutting)="AboutCutting($event)" [@HeroAnimations]="AboutState">
  <svg class="absolute -z-10 opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2000 2000" fill="#FF0000">
    <path
      d="M1891 560c0-277-224-509-501-499-372 13-397 281-504 302s-215-179-511-75a459 459 0 0 0-222 218C10 809 262 886 259 992s-201 171-82 395c34 64 99 127 212 141 56 6 103 47 115 102a377 377 0 0 0 383 310c222 2 528-202 380-536-42-97 30-123 73-194s-11-120 128-156c233-61 423-246 423-494Z">
    </path>
  </svg>
  <app-about></app-about>
</section>

<section class="py-40 max-w-screen-lg mx-auto" id="education" appObserveVisibility (isIntersecting)="isIntersecting=$event"
  (isVisible)="isVisible=$event" (isCutting)="EducationCutting($event)" [@HeroAnimations]="EducationState">
  <app-education></app-education>
</section>

<section class="py-40 max-w-screen-lg mx-auto" id="projects" appObserveVisibility (isIntersecting)="isIntersecting=$event"
  (isVisible)="isVisible=$event" (isCutting)="ProjectsCutting($event)" [@HeroAnimations]="ProjectsState">
  <svg class="absolute -z-10 opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2000 1800" fill="#FF0000">
    <path
      d="M70.93 687.44C94 439 234.2 293.95 381.02 188.24 527.84 82.53 887.27-.87 1159.77 82.53c272.5 83.4 553.55 115.11 673.78 302.45 120.23 187.35 114.36 417.56 87.35 671.27-27.02 253.71-150.35 364.12-335.93 543.83-185.58 179.71-590.81 176.19-973.73 106.89C228.33 1637.67 257 1468 149.63 1259.45c-91.86-178.42-96.18-383.72-78.7-572.02Z">
    </path>
  </svg>
  <app-projects></app-projects>
</section>

<section class="py-40 max-w-screen-lg mx-auto" id="skills" appObserveVisibility (isIntersecting)="isIntersecting=$event"
  (isVisible)="isVisible=$event" (isCutting)="SkillsCutting($event)" [@HeroAnimations]="SkillsState">
  <app-skills></app-skills>
</section>



<section class="py-40 max-w-screen-lg mx-auto" id="experience" appObserveVisibility (isIntersecting)="isIntersecting=$event"
  (isVisible)="isVisible=$event" (isCutting)="ExperienceCutting($event)" [@HeroAnimations]="ExperienceState">
  <svg class="absolute -z-10 opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2000 2000" fill="#FF0000">
    <path
      d="M1854.96 1190.58c-58.28-347.97-7.98-306.49 15.62-629.81 20.82-285.24-103.06-399.75-339.37-436.18-190.88-29.43-452.66 66.41-723.5 77.03-106.18 4.16-702.68-151.99-698.52 224.86 5.45 492.89 80.3 671.58 53.09 874.45-93.69 698.52 302.28 460.25 588.17 519.46 155.77 32.26 583.98 85.01 793.25 47.89 404.95-71.83 370.96-321.28 311.26-677.7Z">
    </path>
  </svg>
  <app-work-history></app-work-history>
</section>

<section class="py-40 max-w-screen-lg mx-auto" id="contact" appObserveVisibility (isIntersecting)="isIntersecting=$event"
  (isVisible)="isVisible=$event" (isCutting)="ContactCutting($event)" [@HeroAnimations]="ContactState">
  <app-contact></app-contact>
  <div class="flex justify-center p-5">
    <div class="w-96">
      <h2>
        LinkedIn
      </h2>
      <p>This is where I network and build my professional portfolio</p>
      <a class="text-red-500 rounded-full hover:bg-black p-1" href="https://www.linkedin.com/in/azar-ansar-41a133100/"
        target="_blank">Azar Ansar</a>
    </div>

    <div class="w-96">
      <h2>
        Github
      </h2>
      <p>This is where I share code and work on projects</p>
      <a class="text-red-500 rounded-full hover:bg-black p-1" href="https://github.com/W4bbiT"
        target="_blank">W4bbiT</a>
    </div>
  </div>
</section>




<footer class="bg-gray-800 text-white flex justify-center text-center p-5 py-10">
  This website is created with <span class="text-red-500 mx-2">love</span> by Azar
</footer>