@import "@egjs/flicking-plugins/dist/flicking-plugins.css";
/* Global styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

/* Panels */
.grid-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  box-sizing: border-box;
  height: 100vh;
}

/* About Panel */
.about-panel {
  background-color: #303030;
  color: white;
}

/* Skills and Projects Panel */
.skills-projects-panel {
  background-color: #f7f7f7;
}

/* Projects Panel */
.projects-panel {
  background-color: #303030;
  color: white;
}

/* Education, Work History, and Contact Panel */
.education-work-contact-panel {
  background-color: #f7f7f7;
}

/* FrameGrid styles */
.FrameGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .FrameGrid {
    grid-template-columns: 1fr;
  }
}
