<ngx-flicking [options]="{}">
  <!-- About Section -->
  <div flicking-panel class="grid-panel about-panel">
    <app-about></app-about>
  </div>

  <!-- Skills and Projects Section -->
  <FrameGrid flicking-panel class="grid-panel skills-projects-panel">
    <div class="w-fit">
      <app-skills></app-skills>
    </div>
    <div class="w-fit">
      <app-projects></app-projects>
    </div>
  </FrameGrid>

  <!-- Projects Section -->
  <div flicking-panel class="grid-panel projects-panel">
    <app-projects></app-projects>
  </div>

  <!-- Education, Work History, and Contact Section -->
  <FrameGrid flicking-panel class="grid-panel education-work-contact-panel">
    <div class="w-fit">
      <app-education></app-education>
    </div>
    <div class="w-fit">
      <app-work-history></app-work-history>
    </div>
    <div class="w-fit">
      <app-contact></app-contact>
    </div>
  </FrameGrid>
</ngx-flicking>



<!-- <div class="container p-5" NgxFrameGrid
[gap]="gap"
[frame]="frame"
[rectSize]="rectSize"
[useFrameFill]="useFrameFill">
  <div class="w-screen">
      <app-about></app-about>
  </div>
  <div class="w-screen">
    <app-skills></app-skills>
  </div>
  <div class="w-screen">
    <app-education></app-education>
  </div>
  <div class="w-screen">
    <app-projects></app-projects>
  </div>
  <div class="w-screen">
    <app-work-history></app-work-history>
  </div>
  <div class="w-screen">
    <app-contact></app-contact>
  </div>
</div>
 -->
