<div class="grid-flow-row bg-gray-900 text-white">
  <section id="home" appObserveVisibility (isIntersecting)="isIntersecting=$event" (isVisible)="isVisible=$event"
    (isCutting)="AboutCutting($event)" class="relative w-screen py-40 mb-60 flex flex-row-reverse">
    <div class="Iam absolute top-20 left-1/4 z-20 w-2/3">
      <div class="w-72">
        <div class="square heroTitle">
          <span></span>
          <span class="shadow-inner shadow-black"></span>
          <span></span>
          <div class="content">
            <p class="title text-2xl">I am a Fullstack Developer with expertise in </p>
            <p #textElement class="xp text text-red-500"></p>
            <p #blinkElement class="xp blink text blink text-red-500"></p>
          </div>
        </div>
      </div>
    </div>
    <div class="left-3/4 z-20 w-1/3">
      
      <button id="contactNav"
      class="cursor-pointer bg-red-500 border border-spacing-1 border-white p-5 m-5 rounded-full hover:shadow-white hover:shadow-inner" (click)="toggleContact('contact')">
      Contact me!
      </button>
    </div>

  </section>

  <section class="py-40 max-w-screen-lg mx-auto" id="about" appObserveVisibility
    (isIntersecting)="isIntersecting=$event" (isVisible)="isVisible=$event" (isCutting)="AboutCutting($event)"
    [@HeroAnimations]="AboutState">
    <app-about></app-about>
  </section>

  <section class="py-40 max-w-screen-lg mx-auto" id="education" appObserveVisibility
    (isIntersecting)="isIntersecting=$event" (isVisible)="isVisible=$event" (isCutting)="EducationCutting($event)"
    [@HeroAnimations]="EducationState">
    <app-education></app-education>
  </section>

  <section class="py-40 max-w-screen-lg mx-auto" id="projects" appObserveVisibility
    (isIntersecting)="isIntersecting=$event" (isVisible)="isVisible=$event" (isCutting)="ProjectsCutting($event)"
    [@HeroAnimations]="ProjectsState">

    <app-projects></app-projects>
  </section>

  <section class="py-40 max-w-screen-lg mx-auto" id="skills" appObserveVisibility
    (isIntersecting)="isIntersecting=$event" (isVisible)="isVisible=$event" (isCutting)="SkillsCutting($event)"
    [@HeroAnimations]="SkillsState">
    <app-skills></app-skills>
  </section>



  <section class="py-40 max-w-screen-lg mx-auto" id="experience" appObserveVisibility
    (isIntersecting)="isIntersecting=$event" (isVisible)="isVisible=$event" (isCutting)="ExperienceCutting($event)"
    [@HeroAnimations]="ExperienceState">
    <app-work-history></app-work-history>
  </section>

  <section class="py-40 max-w-screen-lg mx-auto" id="contact" appObserveVisibility
    (isIntersecting)="isIntersecting=$event" (isVisible)="isVisible=$event" (isCutting)="ContactCutting($event)"
    [@HeroAnimations]="ContactState">
    <app-contact></app-contact>
    <div class="flex justify-center p-5">
      <div class="w-96">
        <h2>
          LinkedIn
        </h2>
        <p>This is where I network and build my professional portfolio</p>
        <a class="text-red-500 rounded-full hover:bg-black p-1" href="https://www.linkedin.com/in/azar-ansar-41a133100/"
          target="_blank">Azar Ansar</a>
      </div>

      <div class="w-96">
        <h2>
          Github
        </h2>
        <p>This is where I share code and work on projects</p>
        <a class="text-red-500 rounded-full hover:bg-black p-1" href="https://github.com/W4bbiT"
          target="_blank">W4bbiT</a>
      </div>
    </div>
  </section>


</div>



<footer class="bg-gray-800 text-white flex justify-center text-center p-5 py-10">
  This website is created with <span class="text-red-500 mx-2">love</span> by Azar
</footer>