<div class="bg-amber-500 p-5 text-center h-full w-full">
  <h2 class="text-3xl font-bold">Experience</h2>
  <ngx-flicking class="text-xl" [options]="{panelsPerView:1, align: 'prev'}" [plugins]="plugins">
    <div flicking-panel class="card-panel" *ngFor="let job of workHistory">
      <h3 class="font-semibold my-2">{{ job.position }}</h3>
      <p><span class="font-semibold">Company: </span>{{ job.company }}</p>
      <p><span class="font-semibold">Duration: </span>{{ job.date }}</p>
      <ul class="">
        <li class="" *ngFor="let responsibility of job.responsibilities">○ {{ responsibility }}</li>
      </ul>
    </div>
  </ngx-flicking>
</div>